<!--<span *ngIf="config">
    <li *ngFor="let hero of config['data']">
      Zip : {{hero['ZIP']}},
      About_Campus: {{hero['abt_Campus']}},
      City: {{hero['city']}},
      Date: {{hero['dat']}},
      E_mail: {{hero['e_Mail']}},
      First_name: {{hero['first_name']}},
      id: {{hero['id']}},
      last_Name: {{hero['last_name']}},
      Recommendation: {{hero['recommendation']}},
      State: {{hero['state']}},
      street_Addr: {{hero['street_Addr']}},
      tel_no: {{hero['tel_NO']}} ,
      Uni_Ist:{{hero['uni_Ist']}}
    </li>
  </span>-->

<table>
  <thead>
  <tr>
    
      <th>User ID</th>
      <th>First</th>
      <th>Last</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Survey Date</th>
      <th>Recomendation</th>
      <th>Like </th>
      <th>Interest</th>
    </tr>
    </thead>

<tbody>
  <tr *ngFor="let survey of surveys">
       <td> {{survey.id}}</td>
       <td> {{survey.first_name}}</td>
       <td>{{survey.last_name}}</td>
       <td>{{survey.street_Addr}}</td>
       <td> {{survey.city}}</td>
       <td>{{survey.state}}</td>
       <td>{{survey.ZIP}}</td>
       <td>{{survey.tel_NO}}</td>
       <td>{{survey.e_Mail}}</td>
       <td>{{survey.dat}}</td>
       <td>{{survey.recommendation}}</td>
       <td>{{survey.abt_Campus}}</td>
       <td>{{survey.uni_Ist}}</td>
      </tr>
    </tbody>

</table>
